* {
    font-family: 'JetBrains Mono', monospace;
}

/*https://coolors.co/ffffff-e69f34-010100-152837-28112b*/

body {
    background-color: #152837;
    color: #ffffff;
}

main {
    min-height: 100vh;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

.text_detail, .link {
    text-decoration: none;
    color: #E69F34;
    transition: 0.2s;
}

.link:hover {
    color: #010100;
    background-color: #E69F34;
    border-radius: 4px;
    padding: 0.1rem;
    transition: 0.3s;
}

#profile_pic, #profile_pic_mobile{
    width: 25rem;
    border-radius: 100%;
}

#profile_pic_mobile{
    display: none;
}

/*typing effect*/

.typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: 
      typing 1s steps(20, end) forwards,
      blink .8s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: orange; }
}

/*---*/

@media only screen and (max-width: 800px) {
    h1{
        font-size: 1.4rem;
    }

    h4{
        font-size: 1.2rem;
    }

    h5{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 992px){
    
    #profile_pic{
        display: none;
    }

    #profile_pic_mobile{
        display: inline;
        width: 10rem;
    }
}