$link-base-color:		#1CF1FB;
$site-title-color:		#1CF1FB;
$color-header-logo: 	#1CF1FB;
$brand-color: 			#1CF1FB;
$background-color:		#000000;
$text-color:			#EDEADE;

$base-font-family: 'JetBrains Mono', sans-serif;